%head
  %link{href: 'styles.css', rel: 'stylesheet'}
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"}
  %script{src: 'main.js'}

.container
  %canvas#kmeans
%div#times
